$titleColor: rgb(255, 255, 175);
$titleFont: 'KOTRALEAP';
$titleFontSize: 1.8em;

@font-face {
  font-family: 'KOTRALEAP';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRALEAP.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.title {
  font-family: $titleFont;
  padding: 5% 0 5%;
  text-align: center;
  font-size: $titleFontSize;
  color: $titleColor;
  text-shadow: 0 0 5px rgb(0, 0, 0);
}

.background {
  position: absolute;
  width: 100%;
  height: 400%;
  background: linear-gradient(to top, white 25%, rgb(22, 22, 22));
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}