.background {
  position: absolute;
  width: 100%;
  height: 400%;
  background: linear-gradient(to top, white 25%, rgb(22, 22, 22));
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}